.nav-bar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    /* background: red; */
    padding-top: 1rem;
}
.nav-container{
    background: #131313;
    border-radius: 50px;
    border: solid 1px #734def6b;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
    
}
.nav-bar .logo{
    margin-left: 2rem;
    margin-bottom: 0;
}
.desktopMenuListItem{
    text-decoration: none;
    color: #989999;
    margin: 1rem;
    padding: 0 0.5rem;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    padding-bottom: 0.5rem;
}
.desktopMenuListItem:hover{
    border-bottom: 3px solid white;
    color: #fff;
}
.contactBtn{
    background: #af1eaf59;
    color: #fff;
    border: 0;
    padding: .7rem 2rem;
    border-radius: 100px;
}